.overview {
  display: flex;
  flex-direction: column;
}

.overview__h2 {
  font-size: 1.55rem;
  color: var(--dark-grayish-blue-text);
  text-align: left;
  font-weight: 700;
  margin: 2rem 0 2rem;
}

.overview__card {
  width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.overview__card-info > .paragraph {
  margin-bottom: 0;
}

.overview__card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.overview__card-number {
  font-size: 2rem;
  color: var(--very-dark-blue-text);
  text-align: left;
  font-weight: 700;
}

.overview__card-porcent {
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.overview__card-porcent.positive {
  color: var(--lime-green);
}

.overview__card-porcent.negative {
  color: var(--bright-red);
}

.overview__card-porcent.positive::before {
  content: url("/assets/images/icon-up.svg");
  left: -0.7rem;
  position: absolute;
  top: -0.125rem;
}

.overview__card-porcent.negative::before {
  content: url("/assets/images/icon-down.svg");
  left: -0.7rem;
  position: absolute;
  top: -0.125rem;
}

@media screen and (max-width: 768px) {
  .overview__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .overview__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .overview__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .overview__card-info {
    align-items: flex-end;
  }

  .overview__h2 {
    font-size: 2rem;
  }
}
