.main {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  background-color: var(--light-grayish-blue-card-bg);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card-dark-mode {
  background-color: var(--dark-desaturated-blue-card-bg);
}

.text-dark-mode {
  color: var(--white-text);
}

.card:hover {
  background-color: var(--light-grayish-blue-card-bg-hover);
  cursor: pointer;
}

.card__icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__nameUser {
  color: var(--dark-grayish-blue-text);
  font-size: 0.75rem;
  font-weight: 700;
  margin: 2rem 0 2rem 0.5rem;
  text-align: center;
}

.main__numberFollowers {
  color: var(--very-dark-blue-text);
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.main__followers {
  color: var(--dark-grayish-blue-text);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.313rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.main__total {
  color: var(--lime-green);
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  position: relative;
  text-align: center;
}

.main__total::before {
  content: url("/assets/images/icon-up.svg");
  left: -0.813rem;
  position: absolute;
  top: -0.125rem;
}

.card1 {
  border-top: 0.25rem solid var(--facebook);
}

.card2 {
  border-top: 0.25rem solid var(--twitter);
}

.card3 {
  position: relative;
}

.card3::before {
  background: var(--instagram);
  border-radius: 0.3rem 0.3rem 0 0;
  content: "";
  height: 0.25rem;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.card4 {
  border-top: 0.25rem solid var(--youtube);
}

.card4 .main__total {
  color: var(--bright-red);
}

.card4 .main__total::before {
  content: url("/assets/images/icon-down.svg");
  top: -0.125rem;
  left: -0.813rem;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .card4 {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .card4 {
    grid-column: inherit;
  }
}
